# <center> Panongbene Jean Mohamed Sawadogo </center>#

* $\color{red}{Course}$        : Visual Analytics, CentraleSupelec
* $\color{red}{Professor}$     : Petra Isenberg, Wesley Willett
* $\color{red}{Assignement}$   : second Assignement
* $\color{red}{Author}$        : Panongbene Jean Mohamed Sawadogo
* $\color{red}{Title}$         : Collecting & Cleaning Data

$\color{red}{Project - description : }$  In this project, we are scraping the site https://www.populationdata.net/pays/ to extract all informations relating to the countries of the world at the end, we will build a csv containing the countries with as much information as possible about each country.

# We import the necessary libraries

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

# <center> Part 1 : Scraping Data From the Web </center> #
In this part, we build and declare all the functions and variables needed to retrieve data from the website.

# All Extras Parameters

In [2]:
link_web_page = 'https://www.populationdata.net/pays/'

# the real name in the web page of the dataframe columns
array_column = ['Nom officiel','Nom propre','Continent','Sous-continent','Population',
                'Croissance démographique','Superficie','Densité','PIB','PIB/habitant',
                'Croissance du PIB','Espérance de vie',
                'Taux de natalité','Indice de fécondité','Taux de mortalité','Taux de mortalité infantile(‰ (2019))',
                'Taux d\'alphabétisation','Langues officielles','Monnaie','IDH','IPE','Nature de l"État','Chef de l"État',
                'Fête nationale','Codes ISO','Gentilé','Touristes']

# the names of all datafram columns
datafram_column = ['Nom officiel','Nom propre','Continent','Sous-continent','Population(habitants (2020))',
                  'Croissance démographique(% / an)','Superficie(km²)','Densité(habitants / km²)',
                  'PIB(milliards $USD (2017))','PIB/habitant','Croissance du PIB(% / an (2018))',
                  'Espérance de vie(ans (2019))','Taux de natalité(‰ (2019))','Indice de fécondité(enfants / femme (2019))',
                  'Taux de mortalité(‰ (2019))','Taux de mortalité infantile(‰ (2019))','Taux d"alphabétisation(% (2020))',
                   'Langues officielles','Monnaie','IDH(/ 1 (2018))','IPE','Nature de l"État','Chef de l"État','Fête nationale',
                  'Codes ISO','Gentilé','Touristes']

In [3]:
def add_new_line_data_fram(name, dictionnary_data_new,datafram_country_data):
    """Use this function to add a new row in our data frame. The new row values ​​are
    the values ​​in dictionnary_data_new"""
    
    # We create the new line in data Fram
    datafram_country_data.loc[name] = 'NAN'
    
    # We put the values in our new line
    j = 0
    for i in dictionnary_data_new:
        datafram_country_data.loc[name][j] = dictionnary_data_new[i]
        j+=1

def save_data_frame_csv(file_name, dataframe_data):
    """We use this function to save dataframe in the csv file"""
    my_file_name = file_name + '.csv'
    dataframe_data.to_csv(my_file_name)
    print("Saved " +my_file_name)

## Function to Scrape and analyze data

In [4]:
#function 
def fetch_scrapping_pages():
    """We use this function to scrapes all informations about each country. 
     We use also this function for cleaning the data in the datafram. At the 
     end this function return a panda dataframe which contains all cleaning informations 
     of each countries. """
    
    # page Request
    page_country_first = requests.get(link_web_page, allow_redirects=True)
    
    #we process the request
    if not page_country_first.status_code == 200:
        print(" ERROR Status code: " + str(page_country_first.status_code))
        return
    else:
        soup = BeautifulSoup(page_country_first.content)
        
        # we create the data frame
        datafram_country_data = pd.DataFrame(columns=datafram_column)
    
        for tablecountry in soup.findAll('table'):
            for onecountry in tablecountry.findAll('tr'):
                # name country
                name_country = ''
                # we create the dictionnary
                dictionnary_data = {}
                
                if('data-iso-code' in onecountry.attrs):
                    for country in onecountry.findAll('a'):
                        if('pays' in country['href']):
                            link_country = country['href']
                            name_country = country.text
                            
                            # page Request
                            page_country = requests.get(link_country, allow_redirects=True)
                            #we process the request
                            if not page_country.status_code == 200:
                                print(" ERROR Status code: " + str(page_country.status_code))
                                continue
                            else:
                                soup_page_country = BeautifulSoup(page_country.content)
                                
                                for tablecountry in soup_page_country.findAll('tbody'):
                                    for table_infos in tablecountry.findAll('tr'):
                                        keys_values = []
                                        for information_line in table_infos.findAll('td'):
                                            keys_values.append(information_line.text)
                                       
                                        #We remove all values ; because ; is interpreted by csv as a column separator
                                        keys_values[0] = keys_values[0].replace(";","")
                                        keys_values[1] = keys_values[1].replace(";","")
                                        
                                        #we replace all nc value by NaN
                                        keys_values[0] = keys_values[0].replace("n.c.","NaN")
                                        keys_values[1] = keys_values[1].replace("n.c.","NaN")

                                        dictionnary_data[keys_values[0]] = keys_values[1]
                                    #we use break here because some page have a lot of tbody
                                    break
                                # we add the new ligne in the datafram
                                add_new_line_data_fram(name_country,dictionnary_data,datafram_country_data)
    return datafram_country_data

In [5]:
datafram_country_data = fetch_scrapping_pages()
datafram_country_data.head()

,Nom officiel,Nom propre,Continent,Sous-continent,Population(habitants (2020)),Croissance démographique(% / an),Superficie(km²),Densité(habitants / km²),PIB(milliards $USD (2017)),PIB/habitant,...,Langues officielles,Monnaie,IDH(/ 1 (2018)),IPE,"Nature de l""État","Chef de l""État",Fête nationale,Codes ISO,Gentilé,Touristes
Abkhazie,République d'Abkhazie,Аҧсны Аҳәынҭқарра (ab) აფხაზეთი (ka) Республ...,Asie,Asie de l'Ouest,246 313 habitants (2018),"0,49 % / an",8 653 km²,"28,47 habitants / km²","0,336 milliards $USD (2017)",1 372 $USD (2017),...,"Abkhaze, géorgien, russe","Apsar abkhaze, Rouble russe (₽ RUB)",NaN,NaN,République,Président Raul Khadjimba,23 juillet (indépendance de 1992),",","Abkhaze, Abkhazienne, Abkhazien",1 000 000 personnes (2017)
Açores,Région autonome des Açores,Região Autónoma dos Açores (pt),Europe,Union Européenne,243 862 habitants (2018),"-0,39 % / an",2 322 km²,"105,02 habitants / km²","4,220 milliards $USD (2015)",17 398 $USD (2015),...,Portugais,Euro (€ EUR),NaN,NaN,République,Président Marcelo Rebelo de Sousa,10 juin (mort de Luís de Camões en 1580),",","Açoréenne, Açoréen, Portugaise, Portugais",1 487 428 personnes (2016)
Afghanistan,République islamique d'Afghanistan,د أفغانستان اسلامي جمهوریت (ps) جمهوری اسلامی...,Asie,Asie centrale,34 233 212 habitants (2020),"6,23 % / an",652 864 km²,"52,44 habitants / km²","19,363 milliards $USD (2018)",521 $USD (2018),...,"Dari (persan), pachtou",Afghani (AFN),"0,496 / 1 (2018)","37,74 (2018)",République islamique,Président Ashraf Ghani,19 août (indépendance de 1919),"AF, AFG",Afghan,20 000 personnes (2016)
Afrique du Sud,République d'Afrique du Sud,Republiek van Suid-Afrika (af) Republic of So...,Afrique,Afrique Australe,57 725 606 habitants (2018),"2,13 % / an",1 219 912 km²,"47,32 habitants / km²","366,298 milliards $USD (2018)",6 340 $USD (2018),...,"Zoulou, afrikaans, anglais (11 langues)",Rand (ZAR),"0,705 / 1 (2018)","44,73 (2018)","République unitaire parlementaire, régime prés...",Président Cyril Ramaphosa,27 avril (premières élections multiraciales en...,"ZA, ZAF","Sud-Africaine, Sud-Africain",10 285 000 personnes (2017)
Albanie,République d'Albanie,Republika e Shqipërisë (sq),Europe,Europe (hors Union Européenne),2 870 324 habitants (2018),"-0,22 % / an",28 748 km²,"99,84 habitants / km²","15,059 milliards $USD (2018)",5 254 $USD (2018),...,Albanais,Lek (ALL),"0,791 / 1 (2018)","65,46 (2018)",République,Président Ilir Meta,28 novembre (indépendance de 1912),"AL, ALB","Albanaise, Albanais",5 375 174 personnes (2017)

In [6]:
# we save the data int the local repertory
save_data_frame_csv('Lab2-country_Information_scrapping', datafram_country_data)

Saved Lab2-country_Information_scrapping.csv

# <center> Part 2 : Cleaining data </center> #
In this part, we explain how we use Openrefine for cleaning data

<span style="color:red"><font size="+1"> INTRODUCTION : </font></span> After scraping the data and saving it to a csv file, we will clean the data using OpenRefine.
We must clean the data because if we take for example the population column, we expect to have a numerical value but, we end up with values of this type <span style="color:green">57 725 606 habitants (2018)</span>.
In this part, we'll see how we use OpenRefine to clean up data.

<span style="color:red"><font size="+1"> Step 1 Install and run openRefine : </font></span> We download, unzip openrif software in this website  https://openrefine.org/download.html. We run OpenRefine binary program with this command <span style="color:green">./refine </span>
<img src="imageExplainOpenRefine/1.png"/>
<img src="imageExplainOpenRefine/2.png"/>
After we run openrefine, the software open a webserver in a local host using the port 3333 <span style="color:green">(127.0.0.1:3333)</span>


<span style="color:red"><font size="+1"> Step 2 Load the Data : </font></span> We load the csv file we have that we built in part one and we create a new project.
<img src="imageExplainOpenRefine/3.png"/>


<span style="color:red"><font size="+1"> Step 3 Cleaning the population column : </font></span> We divided the population column into two columns, the first column contains the population number and the second column contains the date of the census
<img src="imageExplainOpenRefine/4.png"/>
Before cleaning the column

<img src="imageExplainOpenRefine/5.png"/>
After cleaning the population column


<span style="color:red"><font size="+1"> Step 4 Cleaning the Croissance démographique, Superficie and Densité columns : </font></span> 
We transformed the values of the Croissance démographique, Superficie and Densité columns into numerical values
    
<img src="imageExplainOpenRefine/6.png"/>
Before cleaning the column

<img src="imageExplainOpenRefine/7.png"/>
After cleaning the population column

<span style="color:red"><font size="+1"> Step 5 Clean the last columns : </font></span> 
For cleaning up the remaining columns, for some we have divided each column into two columns: the first contains the numeric value of the column and the second the date corresponding to that value. We've also changed the names of some columns to make them more meaningful.


<img src="imageExplainOpenRefine/8.png"/>
Before cleaning the column

<img src="imageExplainOpenRefine/9.png"/>
After cleaning the population column


<span style="color:red"><font size="+1"> Step 6 Finish the job : </font></span> For this step, we replaced the empty cells with NaN and we managed the cells that did not pass the filters individually.

# The head of the file Result of OpenRefine Cleaning

In [7]:
#data_openrefine_result = pd.read_csv("Lab2-country_Information_scrapping-result-openrefine-operation.xlsx")
data_openrefine_result = pd.read_excel("Lab2-country_Information_scrapping-result-openrefine-operation.xlsx")

#pd.read_excel("the_document.ods", engine="odf")

In [8]:
data_openrefine_result

,Column,Nom officiel,Nom propre,Continent,Sous-continent,Population(habitants),Date du recensement de la population,Croissance démographique(% / an),Superficie(km²),Densité(habitants / km²),...,IDH(/ 1 (2018)) 2,IPE,date recensement IPE,"Nature de l""État","Chef de l""État",Fête nationale,Codes ISO,Gentilé,Touristes,date recensement Touristes
0,Abkhazie,République d'Abkhazie,Аҧсны Аҳәынҭқарра (ab) აფხაზეთი (ka) Республ...,Asie,Asie de l'Ouest,246 313,2018,"0,49",8 653,"28,47",...,NaN,NaN,NaN,République,Président Raul Khadjimba,23 juillet (indépendance de 1992),",","Abkhaze, Abkhazienne, Abkhazien",1 000 000,2017.0
1,Açores,Région autonome des Açores,Região Autónoma dos Açores (pt),Europe,Union Européenne,243 862,2018,"-0,39",2 322,"105,02",...,NaN,NaN,NaN,République,Président Marcelo Rebelo de Sousa,10 juin (mort de Luís de Camões en 1580),",","Açoréenne, Açoréen, Portugaise, Portugais",1 487 428,2016.0
2,Afghanistan,République islamique d'Afghanistan,د أفغانستان اسلامي جمهوریت (ps) جمهوری اسلامی...,Asie,Asie centrale,34 233 212,2020,"6,23",652 864,"52,44",...,2018.0,"37,74",2018.0,République islamique,Président Ashraf Ghani,19 août (indépendance de 1919),"AF, AFG",Afghan,20 000,2016.0
3,Afrique du Sud,République d'Afrique du Sud,Republiek van Suid-Afrika (af) Republic of So...,Afrique,Afrique Australe,57 725 606,2018,"2,13",1 219 912,"47,32",...,2018.0,"44,73",2018.0,"République unitaire parlementaire, régime prés...",Président Cyril Ramaphosa,27 avril (premières élections multiraciales en...,"ZA, ZAF","Sud-Africaine, Sud-Africain",10 285 000,2017.0
4,Albanie,République d'Albanie,Republika e Shqipërisë (sq),Europe,Europe (hors Union Européenne),2 870 324,2018,"-0,22",28 748,"99,84",...,2018.0,"65,46",2018.0,République,Président Ilir Meta,28 novembre (indépendance de 1912),"AL, ALB","Albanaise, Albanais",5 375 174,2017.0
5,Algérie,République algérienne démocratique et populaire,الجمهورية الجزائرية الديمقراطية الشعبية (ar),Afrique,Afrique du Nord,43 820 839,2020,"1,90",2 381 741,"18,40",...,2018.0,"57,18",2018.0,République,Président Abdelmadjid Tebboune,1er novembre (déclenchement de la révolution e...,"DZ, DZA","Algérienne, Algérien",2 451 000,2017.0
6,Allemagne,République Fédérale d'Allemagne,Bundesrepublik Deutschland (de),Europe,Union Européenne,83 042 235,2019,"0,30",357 386,"232,36",...,2018.0,"78,37",2018.0,République constitutionnelle parlementaire féd...,Président Frank-Walter Steinmeier Chancelière...,3 octobre (Réunification de 1990),"DE, DEU","Allemande, Allemand",37 452 000,2017.0
7,Andorre,Principauté d'Andorre,Principat d'Andorra (ca),Europe,Europe (hors Union Européenne),76 522,2018,"2,31",468,"163,51",...,2018.0,NaN,NaN,Coprincipauté parlementaire,Coprince français Emmanuel Macron (président f...,8 septembre,"AD, AND","Andorranne, Andorran",2 999 722,2017.0
8,Angola,République d'Angola,República de Angola (pt) Repubilika ya Ngola ...,Afrique,Afrique Australe,29 131 016,2018,"2,72",1 281 432,"22,73",...,2018.0,"37,44",2018.0,"République présidentielle, régime autoritaire",Président João Lourenço,11 novembre (indépendance de 1975),"AO, AGO","Angolaise, Angolais",397 000,2016.0
9,Anguilla,Anguilla,Anguilla,Amériques,Antilles,15 174,2019,"0,86",91,"166,75",...,2008.0,NaN,NaN,Territoire britannique d'outre-mer,Reine Élisabeth II Gouverneur Tim Foy,30 mai,"AI, AIA","Anguillaise, Anguillais",68 000,2017.0
10,Antarctique,Antarctique,Antarctique (fr),Antarctique,Antarctique,1 500,2019,"0,00",14 107 637,"0,00",...,NaN,NaN,NaN,Territoire international régi par le traité de...,NaN,NaN,"AQ, ATA",NaN,37 000,2014.0
11,Antigua-et-Barbuda,Antigua-et-Barbuda,Antigua and Barbuda (en),Amériques,Antilles,104 084,2019,"1,00",277,"375,75",...,2018.0,"59,18",2018.0,Monarchie,Reine Élisabeth II Gouverneur général Rodney ...,1er novembre (indépendance de 1981),"AG, ATG","Antiguaise, Antiguais",247 000,2017.0
12,Antilles néerlandaises,Antilles néerlandaises,Nederlandse Antillen,Amériques,Antilles,230 304,2011,"0,69",960,"239,90",...,NaN,NaN,NaN,"Monarchie unitaire, parlementaire (État du Roy...",Roi Willem-Alexander (Guillaume-Alexandre),1er novembre,"AN, ANT","Néerlandaise, Néerlandais",NAN,NaN
13,Arabie saoudite,Royaume d'Arabie saoudite,المملكة العربية السعودية Al-Mamlakah Al-ʾĀrab...,Asie,Asie de l'Ouest,33 413 660,2018,"2,46",2 149 690,"15,54",...,2018.0,"57,47",2018.0,"Monarchie islamique absolue, régime autoritaire",Roi Salmane ben Abdelaziz al-Saoud,23 septembre (création du royaume en 1932),"SA, SAU","Saoudienne, Saoudien",16 109 000,2017.0
14,Argentine,République d'Argentine,República Argentina (es),Amériques,Amérique du Sud,45 376 763,2020,"0,97",2 780 400,"16,32",...,2018.0,"59,30",2018.0,République fédérale,Président Alberto Fernández,25 mai (révolution),"AR, ARG","Argentine, Argentin",6 705 000,2017.0
15,Arménie,République d'Arménie,Հայաստանի Հանրապետություն (Hayastani Hanrapetu...,Asie,Asie de l'Ouest,2 959 245,2020,"-0,21",29 743,"99,49",...,2018.0,"62,07",2018.0,République parlementaire,Président Armen Sarkissian,21 septembre (indépendance de 1991),"AM, ARM","Arménienne, Arménien",1 894 377,2019.0
16,Artsakh (Haut-Karabakh),République d'Artsakh,Արցախ (hy),Asie,Asie de l'Ouest,147 906,2019,"0,62",11 433,"12,94",...,NaN,"62,07",2018.0,République,Président Bako Sahakian,2 septembre (indépendance de 1991),",","Artsakhtsi, Karabaghiote",NAN,NaN
17,Aruba,Aruba,Aruba (nl),Amériques,Antilles,111 673,2019,"0,53",180,"620,41",...,2013.0,NaN,NaN,"Monarchie unitaire, parlementaire (État autono...",Roi Willem-Alexander (Guillaume-Alexandre),27 avril (anniversaire du roi Koningsdag),"AW, ABW","Arubéenne, Arubéen",1 071 000,2017.0
18,Australie,Commonwealth d'Australie,Commonwealth of Australia (en),Océanie,Océanie,25 105 503,2018,"1,60",7 688 485,"3,27",...,2018.0,"74,12",2018.0,"État fédéral, monarchie constitutionnelle","Gouverneur général Peter Cosgrove, représentan...",26 janvier (arrivée des premiers Anglais à Syd...,"AU, AUS","Australienne, Australien",8 815 000,2017.0
19,Autriche,République d'Autriche,Republik Österreich (de),Europe,Union Européenne,8 822 267,2018,"0,56",83 879,"105,18",...,2018.0,"78,97",2018.0,République fédérale,Président fédéral Alexandre Van der Bellen,26 octobre (vote de la neutralité permanente e...,"AT, AUT","Autrichienne, Autrichien",29 460 000,2017.0
20,Azerbaïdjan,République d'Azerbaïdjan,Azərbaycan Respublikası (az),Asie,Asie de l'Ouest,10 095 894,2020,"0,29",86 573,"116,62",...,2018.0,"62,33",2018.0,République présidentielle,Président Ilham Aliyev,18 octobre (indépendance de 1991),"AZ, AZE","Azerbaïdjanaise, Azerbaïdjanais",2 454 000,2017.0
21,Bahamas,Commonwealth des Bahamas,Commonwealth of the Bahamas (en),Amériques,Antilles,399 421,2018,"0,83",13 962,"28,61",...,2018.0,"54,99",2018.0,Monarchie constitutionnelle,Reine Élisabeth II Gouverneur général Corneli...,10 juillet (indépendance de 1973),"BS, BHS","Bahaméenne, Bahaméen",6 135 839,2017.0
22,Bahreïn,Royaume du Bahreïn,مملكة البحرين - Mamlakat al-Baḥrayn (ar),Asie,Asie de l'Ouest,1 592 087,2018,"5,75",778,"2 046,38",...,2018.0,"55,15",2018.0,Monarchie constitutionnelle,Roi Hamad ben Issa al-Khalifa,16 décembre,"BH, BHR","Bahreïnienne, Bahreïnien",4 372 000,2017.0
23,Bangladesh,République Populaire du Bangladesh,গণপ্রজাতন্ত্রী বাংলাদেশ - Gônoprojatontri Bang...,Asie,Asie du Sud,173 548 302,2018,"2,77",147 570,"1 176,04",...,2018.0,"29,56",2018.0,République parlementaire,Président Abdul Hamid,26 mars (proclamation de la république en 1971),"BD, BGD","Bengalis, Bangladaise, Bangladais",125 000,2014.0
24,Barbade,Barbade,Barbados (en),Amériques,Antilles,285 389,2018,"0,34",431,"662,16",...,2018.0,"55,76",2018.0,Monarchie constitutionnelle,Reine Élisabeth II Gouverneure générale Dame ...,30 novembre (indépendance de 1966),"BB, BRB","Barbadienne, Barbadien",664 000,2017.0
25,Bélarus (Biélorussie),République de Biélorussie,Рэспубліка Беларусь (be) Республика Беларусь ...,Europe,Europe (hors Union Européenne),9 408 405,2020,"-0,71",207 605,"45,32",...,2018.0,"64,98",2018.0,République (dictature dans les faits),Président Alexandre Loukachenko,27 juillet (proclamation de l'indépendance de ...,"BY, BLR",Biélorusse,2 000 000,2017.0
26,Belgique,Royaume de Belgique,"Royaume de Belgique, Koninkrijk België (nl), K...",Europe,Union Européenne,11 431 406,2019,"0,49",30 688,"372,50",...,2018.0,"77,38",2018.0,"Monarchie parlementaire, État fédéral",Roi Philippe,21 juillet (prestation du serment constitution...,"BE, BEL",Belge,8 358 000,2017.0
27,Belize,Belize,Belize (en),Amériques,Amérique centrale,398 050,2018,"2,62",22 966,"17,33",...,2018.0,"57,79",2018.0,Monarchie constitutionnelle et démocratie parl...,Reine Élisabeth II Gouverneur général Sir Col...,21 septembre (indépendance de 1981),"BZ, BLZ","Bélizienne, Bélizien",427 000,2017.0
28,Bénin,République du Bénin,Bénin,Afrique,Afrique subsaharienne,11 496 140,2018,"2,77",114 763,"100,17",...,2018.0,"38,17",2018.0,République,Président Patrice Talon,1er août (indépendance de 1960),"BJ, BEN","Béninoise, Béninois",267 000,2016.0
29,Bermudes,Bermudes,Bermuda (en),Amériques,Amérique du Nord,61 592,2019,"-0,05",53,"1 162,11",...,2013.0,NaN,NaN,Territoire d'outre-mer du Royaume-Uni,Reine Élisabeth II Gouverneur John Rankin,Dernier vendredi de mai (Jour des Bermudes),"BM, BMU","Bermudienne, Bermudien",642 400,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Suriname,République du Suriname,Republiek Suriname (nl),Amériques,Amérique du Sud,598 190,2018,"1,05",163 821,"3,65",...,2018.0,"54,20",2018.0,République,Président Dési Bouterse,25 novembre (indépendance de 1975),"SR, SUR","Surinamienne, Surinamien",278 000,2017.0
224,Syrie,République arabe syrienne,الجمهوريّة العربيّة السّوريّة - Al-Jumhūriyyah...,Asie,Asie de l'Ouest,25 297 296,2018,"2,50",185 180,"136,61",...,2018.0,"66,91",2016.0,République populaire socialiste. Pouvoir dicta...,Président Bachar el-Assad,17 avril (départ des Français en 1946),"SY, SYR","Syrienne, Syrien",3 159 187,2011.0
225,Tadjikistan,République du Tadjikistan,Ҷумҳурии Тоҷикистон (tg) Jumhurii Tojikiston ...,Asie,Asie centrale,9 326 275,2020,"2,18",142 627,"65,39",...,2018.0,"47,85",2018.0,République présidentielle (dictature dans les ...,Président Emomalii Rahmon,9 septembre (indépendance de 1991),"TJ, TJK",Tadjik,414 000,2015.0
226,Taïwan,République de Chine,Zhonghuá Mínguó 中華民國 (zh),Asie,Asie de l'Est,23 584 865,2018,"0,08",36 197,"651,57",...,2017.0,"72,84",2018.0,République semi-présidentielle,Présidente Tsai Ing-wen,10 octobre (révolution de 1911),"TW, TWN","Taïwanaise, Taïwanais",10 740 000,2017.0
227,Tanzanie,République unie de Tanzanie,Jamhuri ya Muungano wa Tanzania (sw),Afrique,Afrique de l'Est,54 199 163,2018,"2,82",945 088,"57,35",...,2018.0,"50,83",2018.0,République fédérale,Président John Magufuli,26 avril (Union du Tanganyika et de Zanzibar e...,"TZ, TZA","Tanzanienne, Tanzanien",1 233 000,2016.0
228,Tchad,République du Tchad,Jumhūriyyat Tshād - جمهورية تشاد (ar) Républi...,Afrique,Afrique subsaharienne,15 162 044,2018,"3,53",1 284 200,"11,81",...,2018.0,"45,34",2018.0,"République. Régime présidentiel fort, proche d...",Président Idriss Déby (coup d'État en décembre...,11 août (indépendance de 1960),"TD, TCD","Tchadienne, Tchadien",120 000,2015.0
229,Tchéquie,Tchéquie (République tchèque),Česká republika (cs),Europe,Union Européenne,10 681 161,2019,"0,40",78 867,"135,43",...,2018.0,"67,68",2018.0,République parlementaire,Président Miloš Zeman,28 octobre (République tchèque de 1918),"CZ, CZE",Tchèque,10 175 963,2017.0
230,Terres australes et antarctiques françaises (T...,Terres australes et antarctiques françaises,Terres australes et antarctiques françaises (fr),Antarctique,Antarctique,196,2012,"0,00",439 672,"0,00",...,NaN,NaN,NaN,Territoire d'outre-mer de la République française,Président Emmanuel Macron,14 juillet (Révolution française de 1789),"TF, ATF","Française, Français",NAN,NaN
231,Thaïlande,Royaume de Thaïlande,ราชอาณาจักรไทย Ratcha-anachak Thai (th),Asie,Asie du Sud-Est,68 863 629,2018,"0,93",513 115,"134,21",...,2018.0,"49,88",2018.0,Monarchie constitutionnelle (de jure) Junte m...,Roi Rama X Maha Vajiralongkorn,5 décembre (anniversaire du roi Rama IX Bhumib...,"TH, THA","Thaïlandaise, Thaïlandais",35 381 000,2017.0
232,Timor oriental,République démocratique du Timor oriental,República Democrática de Timor-Leste (pt) Rep...,Asie,Asie du Sud-Est,1 261 407,2018,"1,60",14 954,"84,35",...,2018.0,"49,54",2018.0,République parlementaire,Président Francisco Guterres,28 novembre (déclaration d'indépendance de 1975),"TL, TLS","Est-Timoraise, Est-Timorais",74 000,2017.0
233,Togo,République togolaise,Togo,Afrique,Afrique subsaharienne,7 352 781,2018,"2,42",56 600,"129,91",...,2018.0,"41,78",2018.0,République (dictature dans les faits),Président Faure Gnassingbé,27 avril (indépendance en 1960),"TG, TGO","Togolaise, Togolais",496 000,2017.0
234,Tokelau,Tokelau,Tokelau,Océanie,Océanie,1 556,2019,"1,25",10,"155,60",...,2008.0,NaN,NaN,"Monarchie, Territoire dépendant du Royaume de ...",Reine Élisabeth II,"6 février (Waitangi, traité établissant la sou...","TK, TKL","Tokelauienne, Tokelauien, ou Tokelauane, Tokel...",NAN,NaN
235,Tonga,Royaume de Tonga,Pule'anga Fakatu'i 'o Tonga (to) Kingdom of T...,Océanie,Océanie,98 659,2019,"-0,70",749,"131,72",...,2018.0,"62,49",2018.0,Monarchie constitutionnelle,Roi Tupou VI,4 juin (indépendance de 1970),"TO, TON","Tongienne, Tongien",62 000,2017.0
236,Transnistrie,République moldave du Dniestr,Република Молдовеняскэ Нистрянэ (mo) Придніст...,Europe,Europe (hors Union Européenne),503 640,2018,"-0,10",4 163,"120,98",...,2017.0,NaN,NaN,République (indépendance non reconnue vis-à-vi...,Président Vadim Krasnoselsky,NaN,",","Transnistrienne, Transnistrien",NAN,NaN
237,Trinité-et-Tobago,République de Trinité-et-Tobago,Republic of Trinidad and Tobago (en),Amériques,Antilles,1 359 193,2018,"0,00",5 155,"263,66",...,2018.0,"67,36",2018.0,République,Présidente Paula-Mae Weekes,31 août (indépendance de 1962),"TT, TTO","Trinidadienne, Trinidadien",395 000,2017.0
238,Tunisie,République tunisienne,al-Jumhūrīyah at-Tūnisīyah - الجمهورية التونسي...,Afrique,Afrique du Nord,11 582 075,2018,"1,25",162 155,"71,43",...,2018.0,"62,35",2018.0,République,Président Kaïs Saïed,20 mars (indépendance de 1956),"TN, TUN","Tunisienne, Tunisien",7 052 000,2017.0
239,Turkménistan,République du Turkménistan,Türkmenistan Respublikasy (tk) Республика Тур...,Asie,Asie centrale,8 481 200,2018,"1,71",491 210,"17,27",...,2018.0,"66,10",2018.0,République à parti unique (dictature de facto),Président Gurbanguly Berdimuhamedow,27 octobre (indépendance de 1991),"TM, TKM",Turkmène,NAN,NaN
240,Turques-et-Caïques,Îles Turques-et-Caïques,Turques-et-Caïques,Amériques,Antilles,43 013,2019,"3,97",948,"45,37",...,2008.0,NaN,NaN,Territoire d'outre-mer du Royaume-Uni,Reine Élisabeth II Gouverneur John Freeman,30 août,"TC, TCA",Turques-et-Caïques Insulaire,416 434,2017.0
241,Turquie,République de Turquie,Türkiye Cumhuriyeti (tr),Asie,Asie de l'Ouest,82 003 882,2019,"1,47",783 562,"104,66",...,2018.0,"52,96",2018.0,République (autoritaire),Président Recep Tayyip Erdoğan,29 octobre (Chute de l'Empire ottoman en 1923 ...,"TR, TUR","Turque, Turc",45 628 673,2018.0
242,Tuvalu,État des Tuvalu,Tuvalu (tvl) State of Tuvalu (en),Océanie,Océanie,9 605,2019,"-1,69",26,"374,76",...,2008.0,NaN,NaN,Monarchie constitutionnelle,Reine Élisabeth II Gouverneur général Iakoba ...,1er octobre (indépendance en 1978),"TV, TUV",Tuvaluan,2 000,2017.0
243,Ukraine,Ukraine,Україна (Oukraïna) (uk),Europe,Europe (hors Union Européenne),42 220 824,2018,"-0,86",576 468,"73,24",...,2018.0,"52,87",2018.0,République,Président Volodymyr Zelensky,24 août (déclaration d'indépendance en 1991),"UA, UKR","Ukrainienne, Ukrainien",14 230 000,2017.0
244,Uruguay,République orientale de l'Uruguay,República Oriental del Uruguay (es),Amériques,Amérique du Sud,3 530 912,2020,"0,37",175 016,"20,17",...,2018.0,"64,65",2018.0,République,Président Luis Alberto Lacalle Pou,25 août (déclaration d'indépendance de 1825),"UY, URY","Uruguayenne, Uruguayen",3 674 000,2017.0
245,Vanuatu,République de Vanuatu,Ripablik blong Vanuatu (bi) Republic of Vanua...,Océanie,Océanie,285 359,2018,"2,34",12 281,"23,24",...,2018.0,"44,55",2018.0,République,Président Tallis Obed Moses,30 juillet (indépendance de 1980),"VU, VUT","Ni-Vanuatu, Vanuataise, Vanuatais",109 108,2017.0
246,Vatican,État de la Cité du Vatican,Stato della Città del Vaticano (it) Status Ci...,Europe,Europe (hors Union Européenne),804,2017,"-0,80",1,"1 827,27",...,NaN,NaN,NaN,Monarchie absolue,Pape François,19 mars (messe d'inauguration du pape),"VA, VAT","Vaticane, Vatican",3 200 000,2015.0
247,Venezuela,République bolivarienne du Venezuela,República Bolivariana de Venezuela (es),Amériques,Amérique du Sud,31 828 110,2018,"1,26",916 445,"34,73",...,2018.0,"63,89",2018.0,"République fédérale (bolivarienne), régime aut...",Président Nicolás Maduro,5 juillet (indépendance de 1811),"VE, VEN","Vénézuélienne, Vénézuélien",601 000,2016.0
248,Viêt Nam,République socialiste du Viêt Nam (Vietnam),Cộng hoà Xã hội Chủ nghĩa Việt Nam (vi),Asie,Asie du Sud-Est,97 709 844,2020,"1,56",331 236,"294,99",...,2018.0,"46,96",2018.0,"République, État communiste à parti unique (di...",Président Nguyễn Phú Trọng,2 septembre (déclaration d'indépendance de 194...,"VN, VNM","Vietnamienne, Vietnamien",12 922 000,2017.0
249,Wallis-et-Futuna,Territoire de Wallis-et-Futuna,Wallis-et-Futuna,Océanie,Océanie,11 558,2018,"-1,11",142,"81,39",...,2005.0,NaN,NaN,Collectivité d'outre-mer de la France,Président Emmanuel Macron,14 juillet (Révolution française),"WF, WLF","Wallisienne, Wallisien, Futunienne, Futunien, ...",NAN,NaN
250,Yémen,République du Yémen,الجمهورية اليمنية Al-Jumhuriyah al-Yamaniyah ...,Asie,Asie de l'Ouest,34 232 322,2018,"2,60",527 968,"64,84",...,2018.0,"49,79",2016.0,République (gouvernements en concurrence),Président Abd Rabbo Mansour Hadi (Aden) Prési...,12 mai (réunification des deux Yémen en 1990),"YE, YEM",Yéménite,367 000,2015.0
251,Zambie,République de Zambie,Republic of Zambia (en),Afrique,Afrique Australe,16 887 720,2018,"2,94",770 243,"21,93",...,2018.0,"50,97",2018.0,République,Président Edgar Lungu,24 octobre (indépendance de 1964),"ZM, ZMB","Zambienne, Zambien",956 000,2016.0
252,Zimbabwé,République du Zimbabwé,Republic of Zimbabwe (en),Afrique,Afrique Australe,14 025 965,2018,"1,60",390 757,"35,89",...,2018.0,"43,41",2018.0,République parlementaire. Pouvoir présidentiel...,Président Emmerson Mnangagwa,"18 avril (indépendance de 1980, déclarée le 11...","ZW, ZWE","Zimbabwéenne, Zimbabwéen",2 423 000,2017.0

# Json file result of OpenRefine Cleaning

In [9]:
openrefine_history_result = pd.read_json("Lab2-historyOpenRefineScrapping.json")

In [10]:
openrefine_history_result

,columnName,description,edits,engineConfig,expression,guessCellType,maxColumns,mode,newColumnName,oldColumnName,onError,op,regex,removeOriginalColumn,repeat,repeatCount,separator
0,Population(habitants (2020)),Split column Population(habitants (2020)) by s...,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,habitants
1,Population(habitants (2020)) 2,Text transform on cells in column Population(h...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace(""("","""").replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
2,NaN,Rename column Population(habitants (2020)) 2 t...,NaN,NaN,NaN,NaN,NaN,NaN,Date du recensement de la population,Population(habitants (2020)) 2,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
3,Croissance démographique(% / an),Text transform on cells in column Croissance d...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace("" % / an"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
4,Superficie(km²),Text transform on cells in column Superficie(k...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace("" km²"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
5,Densité(habitants / km²),Text transform on cells in column Densité(habi...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace("" habitants / km²"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
6,PIB(milliards $USD (2017)),Split column PIB(milliards $USD (2017)) by sep...,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,milliards $USD
7,PIB(milliards $USD (2017)) 2,Text transform on cells in column PIB(milliard...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace(""("","""").replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
8,PIB/habitant,Split column PIB/habitant by separator,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,$USD
9,PIB/habitant 2,Text transform on cells in column PIB/habitant...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace(""("","""").replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
10,Croissance du PIB(% / an (2018)),Split column Croissance du PIB(% / an (2018)) ...,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,% / an
11,Croissance du PIB(% / an (2018)) 2,Text transform on cells in column Croissance d...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace(""("","""").replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
12,Espérance de vie(ans (2019)),Split column Espérance de vie(ans (2019)) by s...,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,ans
13,Espérance de vie(ans (2019)) 2,Text transform on cells in column Espérance de...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace(""("","""").replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
14,Taux de natalité(‰ (2019)),Split column Taux de natalité(‰ (2019)) by sep...,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,‰
15,Taux de natalité(‰ (2019)) 2,Text transform on cells in column Taux de nata...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace(""("","""").replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
16,Indice de fécondité(enfants / femme (2019)),Split column Indice de fécondité(enfants / fem...,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,enfants / femme
17,Indice de fécondité(enfants / femme (2019)) 2,Text transform on cells in column Indice de fé...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace(""("","""").replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
18,NaN,Rename column PIB(milliards $USD (2017)) 2 to ...,NaN,NaN,NaN,NaN,NaN,NaN,date recensement PIB,PIB(milliards $USD (2017)) 2,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
19,NaN,Rename column PIB(milliards $USD (2017)) 1 to ...,NaN,NaN,NaN,NaN,NaN,NaN,PIB(milliards $USD),PIB(milliards $USD (2017)) 1,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
20,NaN,Rename column Population(habitants (2020)) 1 t...,NaN,NaN,NaN,NaN,NaN,NaN,Population(habitants),Population(habitants (2020)) 1,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
21,NaN,Rename column PIB/habitant 1 to PIB/habitant,NaN,NaN,NaN,NaN,NaN,NaN,PIB/habitant,PIB/habitant 1,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
22,NaN,Rename column PIB/habitant 2 to date recenseme...,NaN,NaN,NaN,NaN,NaN,NaN,date recensement PIB/habitant,PIB/habitant 2,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
23,NaN,Rename column Croissance du PIB(% / an (2018))...,NaN,NaN,NaN,NaN,NaN,NaN,Croissance du PIB(% / an),Croissance du PIB(% / an (2018)) 1,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
24,NaN,Rename column Croissance du PIB(% / an (2018))...,NaN,NaN,NaN,NaN,NaN,NaN,date recensement Croissance du PIB(% / an),Croissance du PIB(% / an (2018)) 2,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
25,NaN,Rename column Espérance de vie(ans (2019)) 1 t...,NaN,NaN,NaN,NaN,NaN,NaN,Espérance de vie(ans),Espérance de vie(ans (2019)) 1,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
26,NaN,Rename column Espérance de vie(ans (2019)) 2 t...,NaN,NaN,NaN,NaN,NaN,NaN,date recensement Espérance de vie(ans),Espérance de vie(ans (2019)) 2,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
27,NaN,Rename column Taux de natalité(‰ (2019)) 1 to ...,NaN,NaN,NaN,NaN,NaN,NaN,Taux de natalité(‰),Taux de natalité(‰ (2019)) 1,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
28,NaN,Rename column Taux de natalité(‰ (2019)) 2 to ...,NaN,NaN,NaN,NaN,NaN,NaN,date recensement Taux de natalité(‰),Taux de natalité(‰ (2019)) 2,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
29,NaN,Rename column Indice de fécondité(enfants / fe...,NaN,NaN,NaN,NaN,NaN,NaN,Indice de fécondité(enfants / femme),Indice de fécondité(enfants / femme (2019)) 1,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,NaN,"Rename column Taux d""alphabétisation(% (2020))...",NaN,NaN,NaN,NaN,NaN,NaN,"Taux d""alphabétisation(%)","Taux d""alphabétisation(% (2020)) 1",NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
42,NaN,"Rename column Taux d""alphabétisation(% (2020))...",NaN,NaN,NaN,NaN,NaN,NaN,"date recensement Taux d""alphabétisation(%)","Taux d""alphabétisation(% (2020)) 2",NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
43,IPE,Split column IPE by separator,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,(
44,NaN,Rename column IPE 2 to date recensement IPE,NaN,NaN,NaN,NaN,NaN,NaN,date recensement IPE,IPE 2,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
45,NaN,Rename column IPE 1 to IPE,NaN,NaN,NaN,NaN,NaN,NaN,IPE,IPE 1,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
46,Touristes,Split column Touristes by separator,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,personnes
47,Touristes 2,Text transform on cells in column Touristes 2 ...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace(""("","""").replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
48,NaN,Rename column Touristes 1 to Touristes,NaN,NaN,NaN,NaN,NaN,NaN,Touristes,Touristes 1,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
49,NaN,Rename column Touristes 2 to date recensement ...,NaN,NaN,NaN,NaN,NaN,NaN,date recensement Touristes,Touristes 2,NaN,core/column-rename,NaN,NaN,NaN,NaN,NaN
50,date recensement Taux de natalité(‰),Mass edit cells in column date recensement Tau...,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
51,date recensement Indice de fécondité(enfants /...,Mass edit cells in column date recensement Ind...,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
52,date recensement IPE,Mass edit cells in column date recensement IPE,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
53,"date recensement Taux d""alphabétisation(%)",Mass edit cells in column date recensement Tau...,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
54,date recensement Taux de mortalité(‰),Mass edit cells in column date recensement Tau...,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
55,date recensement Taux de mortalité infantile(‰),Mass edit cells in column date recensement Tau...,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
56,PIB(milliards $USD),Mass edit cells in column PIB(milliards $USD),"[{'from': ['0,000 milliards $USD'], 'fromBlank...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
57,date recensement PIB,Mass edit cells in column date recensement PIB,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
58,PIB/habitant,Mass edit cells in column PIB/habitant,"[{'from': ['11 400 $USD'], 'fromBlank': False,...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
59,date recensement PIB/habitant,Mass edit cells in column date recensement PIB...,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
60,date recensement IPE,Text transform on cells in column date recense...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
61,IDH(/ 1 (2018)),Split column IDH(/ 1 (2018)) by separator,NaN,"{'facets': [], 'mode': 'row-based'}",NaN,1.0,0.0,separator,NaN,NaN,NaN,core/column-split,0.0,1.0,NaN,NaN,/ 1
62,IDH(/ 1 (2018)) 2,Mass edit cells in column IDH(/ 1 (2018)) 2,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
63,IDH(/ 1 (2018)) 2,Text transform on cells in column IDH(/ 1 (201...,NaN,"{'facets': [], 'mode': 'row-based'}","grel:value.replace(""("","""").replace("")"","""")",NaN,NaN,NaN,NaN,NaN,keep-original,core/text-transform,NaN,NaN,0.0,10.0,NaN
64,Croissance du PIB(% / an),Mass edit cells in column Croissance du PIB(% ...,"[{'from': ['-3,90 % / an'], 'fromBlank': False...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
65,date recensement Croissance du PIB(% / an),Mass edit cells in column date recensement Cro...,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
66,date recensement Touristes,Mass edit cells in column date recensement Tou...,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
67,PIB/habitant,Mass edit cells in column PIB/habitant,"[{'from': ['0 $USD'], 'fromBlank': False, 'fro...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
68,Croissance du PIB(% / an),Mass edit cells in column Croissance du PIB(% ...,"[{'from': ['0,00 % / an'], 'fromBlank': False,...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
69,Espérance de vie(ans),Mass edit cells in column Espérance de vie(ans),"[{'from': ['0,00 ans'], 'fromBlank': False, 'f...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN
70,date recensement Espérance de vie(ans),Mass edit cells in column date recensement Esp...,"[{'from': [''], 'fromBlank': True, 'fromError'...","{'facets': [], 'mode': 'row-based'}",value,NaN,NaN,NaN,NaN,NaN,NaN,core/mass-edit,NaN,NaN,NaN,NaN,NaN